@keyframes opa {
	0% {
		opacity: 0;
	}
	70% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes pop {
	0% {
		opacity: 0;
	}
	70% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes menu {
	0% {
		right: 190px;
		opacity: 0;
	}
	50% {
		right: 190px;
		opacity: 0;
	}
	100% {
		right: 0px;
		opacity: 1;
	}
}
@keyframes header {
	0% {
		bottom: 190px;
		opacity: 0;
	}
	50% {
		bottom: 190px;
		opacity: 0;
	}
	100% {
		bottom: 0px;
		opacity: 1;
	}
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	&:before,
	&:after {
		content: '';
		position: absolute;
	}
}
:root {
	--main-bg: #fff;
	--text: #000;
	--text__header: #4353ff;
	--background__cards: rgba(255, 255, 255, 0.9);
	--logo: url(../images/webflow.svg);
	--share: url(../images/share.svg);
	--copy: url(../images/copy.svg);
	--delete: url(../images/delete.svg);
	--arrow: url(../images/arrow.svg);
	--webdlow: url(../images/webflow.svg);
	--dashboard: url(../images/prem.png);
	--people: url(../images/regular.png);
	--team: url(../images/battered.png);
	--analytics: url(../images/analytics.svg);
	--notifications: url(../images/notifications.svg);
	--showcase: url(../images/showcase.svg);
	--blog: url(../images/blog.svg);
	--chat: url(../images/chat.svg);
	--question: url(../images/question.svg);
	--setting: url(../images/settings.svg);
	--sun: url(../images/sun.svg);
	--box--shadow: drop-shadow(0px 2px 20px rgba(67, 83, 255, 0.5));
	--border-top: 1px solid #312a4e;
	--border-bottom: 1px solid #312a4e;
	--border: 1px solid #312a4e;
	--big__letter: #ffab6b;
	--border-big: none;
	--cover: cover;
	--5-dots__dark: none;
	--font: 700;
	--font-dark: 400;
	--display: none;
}
:root[data-theme='dark'] {
	--main-bg: #171932;
	--text: #fff;
	--text__header: #fff;
	--background__cards: rgba(23, 25, 50, 0.9);
	--logo: url(../images/webflow__white.svg);
	--share: url(../images/share__white.svg);
	--copy: url(../images/copy__white.svg);
	--delete: url(../images/delete__white.svg);
	--arrow: url(../images/arrow-light.svg);
	--webdlow: url(../images/webflow__white.svg);
	--dashboard: url(../images/prem__light.png);
	--people: url(../images/regular__light.png);
	--team: url(../images/battered__light.png);
	--analytics: url(../images/analytics__white.svg);
	--notifications: url(../images/notifications__white.svg);
	--showcase: url(../images/showcase__white.svg);
	--blog: url(../images/forum__white.svg);
	--chat: url(../images/blog__white.svg);
	--question: url(../images/help__white.svg);
	--setting: url(../images/setting.svg);
	--sun: url(../images/sun__white.svg);
	--box--shadow: drop-shadow(0px 2px 7px rgba(255, 255, 255, 0.3));
	--border-top: 1px solid #b3b3b3;
	--border-bottom: 1px solid #b3b3b3;
	--border: 1px solid #b3b3b3;
	--big__letter: #171717;
	--border-big: 1px solid #b3b3b3;
	--5-dots: none;
	--font: 400;
	--font-dark: 700;
	--display: flex;
}
/* input[type='checkbox'] {
	height: 40px;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 40px;
} */
body {
	background: var(--main-bg);
	display: flex;
	transition: 0.6s;
}

.full {
	width: 100%;
	display: flex;
	transition: 0.6s;
}
.menu {
	width: 30%;
	border-right: 1px solid rgba(67, 83, 255, 0.2);
	position: relative;
	color: var(--text);
	animation: menu 1s;
}
.main {
	overflow: scroll;
	overflow-x: hidden;
	height: 910px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');
/* Start Global Rules */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
}
:root {
	--main-color: #685cfe;
	--main-transition: 0.5s all ease-in-out;
}
::selection {
	color: white;
	background: var(--main-color);
}
/* End Global Rules */
/* Start Sidebar */
.sidebar {
	width: 100px;
	background-color: #fff;
	padding: 20px;
	position: fixed;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	height: 100%;
	top: 50%;
	transform: translateY(-50%);
	overflow: hidden;
	transition: var(--main-transition);
}
.sidebar:hover {
	width: 300px;
}
.sidebar .dots {
	width: 60px;
}
.sidebar .profile {
	width: 55px;
	height: 55px;
	border-radius: 15px;
	color: #fff;
	background-color: var(--main-color);
	display: grid;
	place-items: center;
	font-size: 25px;
	margin: 30px 0;
}
.sidebar img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.sidebar ul {
	padding-bottom: 30px;
	list-style: none;
}
.sidebar ul span {
	color: #8f99cc;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 13px;
	display: block;
	padding-bottom: 20px;
}
.sidebar ul li {
	padding-left: 10px;
	transition: var(--main-transition);
}
.sidebar:hover ul li {
	padding-left: 0px;
}
.sidebar ul li a {
	padding: 10px;
	display: flex;
	align-items: center;
	gap: 10px;
	border-radius: 15px;
	transition: 0.3s all ease-in-out;
	font-size: 16px;
	width: 300px;
	color: #555e8f;
	font-weight: 500;
	text-decoration: none;
}
.sidebar:hover a {
	width: 100%;
}
.sidebar ul li a:hover {
	background-color: #ebf0fe;
	color: var(--main-color);
}
.sidebar ul li a ion-icon {
	font-size: 22px;
}
.sidebar ul li.noti a ion-icon {
	position: relative;
}
.sidebar ul li.noti a ion-icon::before {
	content: '';
	position: absolute;
	right: 0;
	background-color: #3761ee;
	width: 10px;
	height: 10px;
	border-radius: 50%;
}
.sidebar ul li.likes a ion-icon {
	position: relative;
}
.sidebar ul li.likes a ion-icon::before {
	content: '';
	position: absolute;
	right: 0;
	background-color: #e45447;
	width: 10px;
	height: 10px;
	border-radius: 50%;
}
.sidebar ul li a p {
	visibility: hidden;
	opacity: 0;
	transition: var(--main-transition);
}
.sidebar:hover ul li a p {
	visibility: visible;
	opacity: 1;
}
.sidebar ul li.switch-theme {
	position: relative;
}
.sidebar ul li.switch-theme button {
	background-color: #ddd;
	border: none;
	border-radius: 50px;
	height: 25px;
	width: 50px;
	padding: 5px;
	position: absolute;
	right: 30px;
	visibility: hidden;
	opacity: 0;
	transition: var(--main-transition);
}
.sidebar:hover ul li.switch-theme button {
	visibility: visible;
	opacity: 1;
}
.sidebar ul li.switch-theme button .circle {
	border-radius: 50%;
	background-color: #fff;
	height: 100%;
	width: 15px;
}
.menu__logo {
	width: 102px;
	height: 26px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 48px;
	background: var(--logo);
}
.menu__list {
	display: flex;
	align-items: center;
	position: relative;
	height: 55px;
	width: 100%;
	transition: 0.5s;
}
.menu__theme {
	display: flex;
	align-items: center;
	position: relative;
	height: 55px;
	width: 100%;
	transition: 0.5s;
}
.menu__theme:hover {
	color: rgba(67, 83, 255, 1);
	background-color: rgba(67, 83, 255, 0.3);
}
.menu__list:last-child {
	margin-bottom: 10px;
}
.menu__list-basic {
	border-bottom: 1px solid rgba(67, 83, 255, 0.2);
}
.menu__list-help {
	margin-top: 10px;
	border-bottom: 1px solid rgba(67, 83, 255, 0.2);
}
.menu__list-help.menu__list:last-child {
	padding-right: 0;
}
.menu__list:hover {
	color: rgba(67, 83, 255, 1);
	background-color: rgba(67, 83, 255, 0.3);
}
.menu__list-item {
	align-content: space-around;
	height: 55px;
	padding-left: 20px;
	gap: 21px;
	position: relative;
}

.menu__list-text {
	font-family: Roboto;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.menu__list-text:hover {
	color: #4353ff;
}
.menu__list-img {
	margin-left: 20px;
	margin-right: 21px;
	fill: #fff;
}
.dashboar {
	width: 22px;
	height: 22px;

	background: var(--dashboard);
	background-size: cover;
}

.clients {
	width: 27px;
	height: 27px;
	margin-left: 17px;
	background: var(--people);
	background-size: cover;
}
.team {
	width: 24px;
	height: 24px;

	background: var(--team);
	background-size: cover;
}
.analytics {
	width: 20px;
	height: 20px;
	background: var(--analytics);
}
.notifications {
	width: 19px;
	height: 22px;
	background: var(--notifications);
}
.showcase {
	width: 19px;
	height: 19px;
	background: var(--showcase);
}
.blog {
	width: 22px;
	height: 18px;
	background: var(--blog);
}
.forum {
	width: 20px;
	height: 20px;
	background: var(--chat);
}
.help {
	width: 21px;
	height: 21px;
	background: var(--question);
}
.settings {
	width: 19px;
	height: 19px;
	background: var(--setting);
}
.sun {
	width: 19px;
	height: 19px;
	background: var(--sun);
}
.bth {
	position: absolute;
	top: 15%;
	right: 0;
}
.bth input[type='checkbox'] {
	position: relative;
	width: 70px;
	height: 35px;
	appearance: none;
	outline: none;
	border-radius: 20px;
	box-shadow: inset 0 2px 2px #9b9b9b, inset 0 -2px 2px #9b9b9b;
	transition: 0.5s;
	cursor: pointer;
	background: rgba(189, 189, 189, 1);
}
.btn input:checked[type='checkbox'] {
	background: #222;
	box-shadow: inset 0 2px 2px #ffffff33, inset 0 -2px 2px #ffffff33;
}

input[type='checkbox']::before {
	content: '';
	position: absolute;
	width: 29px;
	height: 29px;
	border-radius: 50%;
	top: 2.5px;
	left: 1px;
	background: #fff;
	transition: 0.5s;
	box-shadow: inset 0 2px 2px #fff, inset 0 -2px 2px #fff;
}
input:checked[type='checkbox']::before {
	background: linear-gradient(to bottom, #444, #222);
	box-shadow: inset 0 2px 2px #ffffff33, inset 0 -2px 2px #fff3ff;
	transform: translateX(38px);
}
#darkModeButton:checked {
	background: rgba(67, 83, 255, 1);
}

.menu__list-bio {
	margin-left: 20px;
	padding-right: 5px;
}
.menu__list-sign {
	font-family: Roboto;
	font-size: 10px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	position: absolute;
	right: 10px;
	/* width: 50px;
	height: 20px;
	text-align: center;
	padding-top: 3px;
	border-radius: 20px; */
}
.menu__list__sign {
	display: flex;
	align-items: center;
	position: relative;
	height: 55px;
	width: 100%;
	transition: 0.5s;
}
.menu__list__sign:hover {
	color: rgba(67, 83, 255, 1);
	background-color: rgba(67, 83, 255, 0.3);
}
.header {
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(67, 83, 255, 0.2);
	color: var(--text__header);
	animation: header 1.5s;
}
.dashboard {
	padding-top: 10px;
	width: 100%;
}
.dashboard__title {
	display: flex;
	color: var(--text__header);
	align-items: center;
}
.dashboard-name {
	font-family: Roboto;
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding-left: 20px;
}
.dashboard- {
	color: var(--text__header);
	font-family: Roboto;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding-top: 2px;
	padding-left: 3px;
}
.dashboard-project {
	color: var(--text__header);
	font-family: Roboto;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding-top: 4px;
	padding-left: 3px;
}
.search-new {
	display: flex;
	align-items: center;
	gap: 20px;
	padding-right: 10px;
}
.search-form {
	border: 1px solid #4353ff;
	border-radius: 100px;
	display: inline-flex;
	padding: 0 20px;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	overflow: hidden;
	background-color: #fff;
}
.search-form__txt {
	border: none;
	width: 200px;
	outline: none;
	padding-right: 10px;
	color: rgba(0, 0, 0, 0.4);
	font-family: Roboto;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	background-color: #fff;
}
.search-form__bth {
	border: none;
	cursor: pointer;
	background-color: #fff;
}
.search-form__image {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	background-color: transparent;
}
.new-project {
	width: 170px;
	height: 41px;
	border-radius: 170px;
	border: 1px solid #4353ff;
	background: #4353ff;
	color: #fff;
	font-family: Roboto;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-transform: uppercase;
}
.cards {
	width: 98%;
	padding-top: 30px;
	margin-left: 20px;
	flex-wrap: wrap;
	gap: 30px;
	position: relative;
	display: none;
}
.anim {
	animation: opa 1.9s;
	animation-fill-mode: forwards;
}
.developing {
	width: 98%;
	padding-top: 30px;
	margin-left: 20px;
	flex-wrap: wrap;
	gap: 30px;
	position: relative;
	display: none;
}
.loading {
	font-size: 62px;
	color: #4353ff;
	animation: pop 1.8s;
	position: absolute;
}
.working {
	margin: auto;
	margin-top: 200px;
}
.working__text {
	color: #4353ff;
	font-size: 62px;
}
.card {
	display: none;
	position: relative;
	width: 330px;
	height: 280px;
	color: #fff;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.tabs__content-item--active {
	display: flex;
}
.card__animation {
	width: 91%;
	height: 99%;
	position: absolute;
	background: var(--background__cards);
	opacity: 0;
	transition: 1s;
	cursor: pointer;
}
.card__animation-choose {
	position: absolute;
	display: flex;
	gap: 12px;
	right: 16px;
	top: 17px;
}
.card__animation-choose__send {
}
.card__animation-open {
	left: 30%;
	bottom: 55%;
	display: flex;
	gap: 15px;
	position: absolute;
}
.card__animation-text {
	color: var(--text__header);
	font-family: Roboto;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
.card__animation-open__image {
}

.card:not(:hover) {
	transition: 0.5s;
}
.card:hover {
	transform: scale(1.1);
	opacity: 1;
	filter: var(--box--shadow);
	transition: 0.5s;
}
.card__animation:hover {
	opacity: 0.9;
}

.card__animation:hover .card__animation-text:hover {
	transform: scale(1);
	opacity: 1;
}
.card-choose {
	display: flex;
	align-items: center;
	width: 300px;
	height: 60px;
	background-color: #4353ff;
	fill: #4353ff;
	stroke-width: 1px;
	stroke: #4353ff;
	filter: drop-shadow(0px 2px 7px rgba(0, 0, 0, 0.3));
	border-radius: 5px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}
.card-info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10px 0 10px;
	border-right: 1px solid #fff;
	width: 230px;
	height: 100%;
}
.card__send {
	display: flex;
	gap: 10px;
}
.card__name {
	color: #fff;
	font-family: Roboto;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.card__settings {
	margin: 0 auto;
	transition: 0.5s;
	width: 22px;
	height: 22px;
}
.card-send__image {
	width: 20px;
	height: 20px;
	transition: 0.5s;
}
.rocket {
	width: 13px;
	height: 19px;
}
.cloud {
	width: 31px;
	height: 19px;
}
.card-send__image:hover {
	transform: scale(1.1);
}
.card__settings:hover {
	transform: scale(1.1);
}
.card__image {
	position: relative;
	width: 300px;
	height: 220px;
	object-fit: cover;
	object-position: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-size: cover;
}
.arrow {
	width: 12px;
	height: 21px;
	background: var(--arrow);
}
.share {
	width: 20px;
	height: 21px;
	background: var(--share);
	transition: 0.5s;
}
.share:hover {
	transform: scale(1.2);
}
.copy {
	width: 20px;
	height: 21px;
	background: var(--copy);
	transition: 0.5s;
}
.copy:hover {
	transform: scale(1.2);
}
.delete {
	width: 16px;
	height: 21px;
	background: var(--delete);
	transition: 0.5s;
}
.delete:hover {
	transform: scale(1.2);
}
.toggle {
	position: absolute;
	right: 10px;
	bottom: 12px;
	display: inline-block;
}

label.toggle-item {
	width: 53px;
	background: #2e394d;
	height: 29px;
	display: inline-block;
	border-radius: 50px;

	position: relative;
	transition: all 0.3s ease;
	transform-origin: 20% center;
	cursor: pointer;
	&:before {
		display: block;
		transition: all 0.2s ease;
		width: 25px;
		height: 25px;
		top: 1.2px;
		left: 1px;
		border-radius: 2em;
		border: 2px solid #88cf8f;
		transition: 0.3s ease;
	}
}

.normal {
	label {
		background: rgba(189, 189, 189, 1);
		border: 0.5px solid rgba(117, 117, 117, 0.31);
		&:before {
			border: none;
			width: 25px;
			height: 25px;
			background: #fff;
			transform: rotate(-25deg);
		}
	}
}

#normal:checked + label {
	background: rgba(67, 83, 255, 1);
	&:before {
		left: 25px;
	}
}
.dialog {
	margin: 0 auto;
	margin-top: 200px;
	transition: 1s;
	border: none;
}
.overlay,
.form-panel.one:before {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
}

.form {
	z-index: 15;
	position: relative;
	background: #ffffff;
	width: 600px;
	border-radius: 4px;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
	margin: 18px auto 10px;
	overflow: hidden;
}
.form-toggle {
	z-index: 10;
	position: absolute;
	top: 60px;
	right: 60px;
	background: #ffffff;
	width: 60px;
	height: 60px;
	border-radius: 100%;
	-webkit-transform-origin: center;
	transform-origin: center;
	-webkit-transform: translate(0, -25%) scale(0);
	transform: translate(0, -25%) scale(0);
	opacity: 0;
	cursor: pointer;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.form-toggle:before,
.form-toggle:after {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 30px;
	height: 4px;
	background: #4285f4;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.form-toggle:before {
	-webkit-transform: translate(-50%, -50%) rotate(45deg);
	transform: translate(-50%, -50%) rotate(45deg);
}
.form-toggle:after {
	-webkit-transform: translate(-50%, -50%) rotate(-45deg);
	transform: translate(-50%, -50%) rotate(-45deg);
}
.form-toggle.visible {
	-webkit-transform: translate(0, -25%) scale(1);
	transform: translate(0, -25%) scale(1);
	opacity: 1;
}
.form-group {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: 0 0 20px;
}
.form-group:last-child {
	margin: 0;
}
.form-group label {
	display: block;
	margin: 0 0 10px;
	color: rgba(0, 0, 0, 0.6);
	font-size: 12px;
	font-weight: 500;
	line-height: 1;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

.form-group input {
	outline: none;
	display: block;
	background: rgba(0, 0, 0, 0.1);
	width: 100%;
	border: 0;
	border-radius: 4px;
	box-sizing: border-box;
	padding: 12px 20px;
	color: rgba(0, 0, 0, 0.6);
	font-family: inherit;
	font-size: inherit;
	font-weight: 500;
	line-height: inherit;
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
}
.form-group input:focus {
	color: rgba(0, 0, 0, 0.8);
	color: #ffffff;
}
.form-group button {
	outline: none;
	background: #4285f4;
	width: 100%;
	border: 0;
	border-radius: 4px;
	padding: 12px 20px;
	color: #ffffff;
	font-family: inherit;
	font-size: inherit;
	font-weight: 500;
	line-height: inherit;
	text-transform: uppercase;
	cursor: pointer;
}

.form-group .form-remember {
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0;
	text-transform: none;
}
.form-group .form-remember input[type='checkbox'] {
	display: inline-block;
	width: auto;
	margin: 0 10px 0 0;
}
.form-group .form-recovery {
	color: #4285f4;
	font-size: 12px;
	text-decoration: none;
}
.form-panel {
	padding: 60px calc(5% + 60px) 60px 60px;
	box-sizing: border-box;
}
.form-header h1 {
	padding: 4px 0;
	color: #4285f4;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.two .form-header h1 {
	position: relative;
	z-index: 40;
	color: #ffffff;
}

.pen-footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 600px;
	margin: 20px auto 100px;
}
.pen-footer a {
	color: #ffffff;
	font-size: 12px;
	text-decoration: none;
	text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.1);
}
.pen-footer a .material-icons {
	width: 12px;
	margin: 0 5px;
	vertical-align: middle;
	font-size: 12px;
}

.cp-fab {
	background: #ffffff !important;
	color: #4285f4 !important;
}

@media (max-width: 360px) {
	.menu {
		width: 80%;
	}
	.main {
		width: 270px;
		margin-left: 50px;
	}
	.dashboard {
		width: 200px;
		margin: 0 auto;
	}
	.cards {
		width: 200px;
	}
	.card {
		width: 200px;
	}
	.card__animation {
		width: 200px;
	}
	.card__image {
		width: 200px;
	}
	.card-choose {
		width: 200px;
	}
	.card__name {
		font-size: 8px;
	}
	.card-send__image {
		width: 17px;
		height: 17px;
	}
	.card-info {
		width: 150px;
	}
	.card__settings {
		width: 17px;
		height: 17px;
		margin-left: 0 auto;
	}
	.menu__list-text {
		font-family: Roboto;
		font-size: 8px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}
	.dashboard-name {
		font-size: 12px;
		padding-left: 5px;
	}
	.dashboard- {
		font-size: 10px;
	}
	.dashboard-project {
		font-size: 8px;
	}
	.header {
		width: 310px;
	}
	.search-new {
		gap: 7px;
		width: 185px;
		padding-right: 0;
	}
	.new-project {
		width: 85px;
		height: 20px;
		font-size: 8px;
	}
	.search-form__image {
		width: 10px;
		height: 10px;
	}
	.search-form {
		width: 86px;
		height: 20px;
		padding: 0;
	}
	.search-form__txt {
		width: 68px;
		font-size: 8px;
		padding-right: 5px;
	}
	.menu__list-img {
		margin-right: 9px;
		margin-left: 10px;
	}
	.bth {
		width: 50px;
		height: 25px;
		top: 27%;
	}
	.form {
		width: 340px;
	}
	.form-panel {
		width: 340px;
	}
	.bth input[type='checkbox'] {
		width: 50px;
		height: 25px;
	}
	input:checked[type='checkbox']::before {
		background: linear-gradient(to bottom, #444, #222);
		box-shadow: inset 0 2px 2px #ffffff33, inset 0 -2px 2px #fff3ff;
		transform: translateX(25.5px);
	}
	input[type='checkbox']::before {
		width: 20px;
		height: 20px;
		left: 1.5px;
		top: 2.7px;
	}
	input:checked[type='checkbox']::before {
		width: 20px;
		height: 20px;
	}
}
